@import "tailwindcss";

:root {
  --color-zinc: #18181B;
  --color-black: black;
  --color-primary: #FAD02C;
  --color-dark: #2C2C2C;
  --color-light: #545454;
  --color-white: #ffffff;
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/Sauce1.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/Sauce1B.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LimeLight';
  src: url('/fonts/limelight.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Doto';
  src: url('/fonts/doto.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'MyFont', sans-serif;
  background: var(--color-black);
  color: var(--color-white);
}

html {
  overflow-y: scroll;
}
@media (min-width:690px){
        .navLink {
            display:flex;
            gap:10px;
            justify-content:center;
            align-items:center;
            flex:1;
        }
      }
@media (max-width:1090px){
        .navLink {
            display:none;
        }
      }